# Notion API Key (from https://www.notion.so/my-integrations)
NOTION_API_KEY=your_notion_api_key
NOTION_DATABASE_ID=312d9ae3-60fb-8164-a254-000b45114929
NOTION_REPORT_DB_ID=eeab3d11-9721-48a1-b17e-040f4e468d07
